# fly.toml app configuration file generated for vix-monorepo on 2025-03-11T22:01:17Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'vix-extension'
primary_region = 'ord'

[build]

[http_service]
  internal_port = 5002
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024

[env]
  API_PORT = 5002
